* {
  margin: 0;
  padding: 0;
  background-color: rgb(202, 151, 151);
}

.childDiv1 {
  background-color: transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.imgDiv1 {
  background-size: 100%;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.childDiv2 {
  background-color: transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgDiv2 {
  background-size: 100%;
  width: 170px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.childDiv3 {
  background-color: transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.imgDiv3 {
  background-size: 100%;
  width: 280px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hole:hover {
  cursor: pointer;
  height: 120px;
  width: 420px;
  transition: 0.5s;
}

#Paper:hover {
  cursor: pointer;
  height: 300px;
  width: 260px;
  transition: 0.5s;
}

#Scissors:hover {
  cursor: pointer;
  height: 300px;
  width: 400px;
  transition: 0.5s;
}

#jeiraniLogo {
  color: burlywood;
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
  font-family: "Palette Mosaic", cursive;
  object-position: center;
  text-decoration: none;
}
#jeiraniLogo:hover {
  color: rgb(255, 210, 152);
  transition: 0.4s;
}

#chooseAMove {
  color: rgb(240, 238, 112);
  font-size: 80px;
  font-family: "Fira Sans", sans-serif;
  font-family: "Palette Mosaic", cursive;
  text-align: center;
  object-position: center;
}

#willYouWin {
  color: rgb(240, 238, 112);
  font-size: 80px;
  font-family: "Fira Sans", sans-serif;
  font-family: "Palette Mosaic", cursive;
  text-align: center;
  object-position: center;
}

#myPicture {
  background-size: 100%;
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#questionMark {
  background-size: 100%;
  font-family: "ZCOOL XiaoWei", serif;
  position: absolute;
  font-size: 300px;
  width: 0;
  height: 0;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#questionMark > b {
  background-color: transparent;
}

#button > b {
  border-radius: 20px;
  font-size: 50px;
  color: yellow;
  background-color: rgb(163, 120, 84);
  border-radius: 20px;
  padding: 20px;
  border: none;
}

#button > b:hover {
  background-color: rgb(122, 91, 65);
  transition: 0.3s;
}

#button {
  background-color: transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

#results > p {
  background-color: transparent;
  color: rgb(255, 255, 62);
  background-size: 100%;
  font-size: 60px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Reveal {
  background-color: rgb(202, 151, 151);
  width: 400px;
  height: 200px;
  background-size: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tryAgain {
  font-family: "Fira Sans", sans-serif;
  font-family: "Palette Mosaic", cursive;
  background-size: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3.4%;
  left: 18%;
  transform: translate(-75%, -50%);
}
